services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile.prod
    image: app-server
    container_name: dog-app-server
    command: npm run production
    volumes:
      # bind mounting entire project folder to container for watcher detection
      - ./:/usr/app
      # node_modules gets its own volume for all containers to share
      - node_modules_app:/usr/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production      
    networks:
      - linkednetwork  

volumes:
    node_modules_app:
    data-volume:

networks:
  linkednetwork: